/* 
    Document   : stylesheet
    Created on : 15-nov-2012, 7:41:19
    Author     : 
    Description: Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
div {
    position:relative;
    top:20px;
    left:40px;
}

body {

    margin: 0px;
    width:100%;
}

#header {
    top:0px;
    left:0px;
    width:100%;
    height:60px;
}
#menu {
    position:absolute;
    left:20px;
    top:80px;	
    width:200px;
    height:600px;
    border-right: 1px solid #000000;
    padding:15px;

}	
#content {
    position:absolute;
    top:120px;
    left:250px;
    border-top: 1px solid #000000;
    padding: 10px;
    width:100%;
}

th, td{
    border: 1px solid black;
}
table, th,tr, td{
    border-collapse: collapse;
}

.picture{
    border:none;
}

.menuitem{
    display: block;
}

.login tr, .login th, .login td, .login{
    border: none;
}

